<!DOCTYPE html>
{% load static %}

<html lang="pl">
<head>
    <meta charset="UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <meta http-equiv="X-UA-Compatible" content="ie=edge"/>
    <title>Strona główna</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>
    <script defer src="{% static 'js/app.js' %}"></script>
</head>


<body>

<header class="header--main-page">
    {% if user.is_authenticated %}
    <nav class="container container--70">
        <ul class="nav--actions">
            <li class="logged-user">
                Witaj {{ user.username }}
                <ul class="dropdown">
                    <li><a href="#">Profil</a></li>
                    <li><a href="#">Moje zbiórki</a></li>
                    <li><a href="{% url 'logout' %}">Wyloguj</a></li>
                </ul>
            </li>
        </ul>
        <ul>
            <li><a href="" class="btn btn--without-border active">Start</a></li>
            <li><a href="{% url 'first-page' %}#steps" class="btn btn--without-border">O co chodzi?</a></li>
            <li><a href="{% url 'first-page' %}#about-us" class="btn btn--without-border">O nas</a></li>
            <li><a href="{% url 'first-page' %}#help" class="btn btn--without-border">Fundacje i organizacje</a></li>
            <li><a href="{% url 'add-donation' %}" class="btn btn--without-border">Przekaż dary</a></li>
            <li><a href="{% url 'first-page' %}#contact" class="btn btn--without-border">Kontakt</a></li>
        </ul>

    </nav>
    {% else %}
    <nav class="container container--70">
        <ul class="nav--actions">
            <li><a href="{% url 'login' %}" class="btn btn--small btn--without-border">Zaloguj</a></li>
            <li><a href="{% url 'register' %}" class="btn btn--small btn--highlighted">Załóż konto</a></li>
        </ul>
        <ul>
            <li><a href="first-page" class="btn btn--without-border active">Start</a></li>
            <li><a href="{% url 'first-page' %}#steps" class="btn btn--without-border">O co chodzi?</a></li>
            <li><a href="{% url 'first-page' %}#about-us" class="btn btn--without-border">O nas</a></li>
            <li><a href="{% url 'first-page' %}#help" class="btn btn--without-border">Fundacje i organizacje</a></li>
            <li><a href="{% url 'add-donation' %}" class="btn btn--without-border">Przekaż dary</a></li>
            <li><a href="{% url 'first-page' %}#contact" class="btn btn--without-border">Kontakt</a></li>
        </ul>
        {% endif %}

    </nav>
    <div class="slogan container container--90">
        <div class="slogan--item">
            <h1>
                Zacznij pomagać!<br/>
                Oddaj niechciane rzeczy w zaufane ręce
            </h1>
        </div>
    </div>
    </nav>


</header>


{% block content %}
{% endblock content %}


</body>
</html>

